@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
	box-sizing: border-box;
}

#bloc_page{
	font-family: 'Raleway', sans-serif;
	max-width: 1280px;
  margin: auto;
}
.bold{
	margin-bottom: 0;
	font-weight: 700;
}
.holiday_style{
	margin-top: 1%;
}

/* start header version desktop */
header{
	margin: auto;
}

.header_top{
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#logo{
	width: 100px;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	padding: 20px;
	font-size: 16px;
	
}
li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	
}
nav li a:hover{
	border-top: 2px solid #0065FC;
	color: #0065FC;
} /* end header version desktop */

/* start search form */

form{
	margin: auto;
}

.search_form{
	display: inline-block;
	width: 100px;
	height: 50px;
	background: #0065FC;
	border: 1px solid #F2F2F2;
	color: white;
	font-weight: bold;
}

#place{
	position: relative;
 	bottom: 16px;
  border-radius: 15px 0px 0px 15px;
	background: #F2F2F2;
	width: 50px;
	height: 50px;
	color: black;
}

#position{
	position: relative;
  top: 18px;
  left: 18px;
  border-right: 1px none #F2F2F2;
}
#city{
	position: relative;
	right: 4px;
	background: white;
	width: 220px;
	padding-left: 10px;
	color: black;
	font-weight: 700;
}
#research{
	position: relative;
	right: 8px;
	border-left: 1px none #F2F2F2;
	border-radius: 0px 15px 15px 0px;
	width: 150px;
	height: 51px;
	font-weight: 700;
}
#search{
	display: none;
}

#search_icon{
	display: none;
} /* end search form */

/*start filters*/
.filters{
	display: flex;
	align-items: center;
}
.filter_choice{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filters h3{
	padding-right: 15px;
	font-weight: bold;
}

.filter {
  display: flex;
  margin: 10px;
  padding-right: 8px;
  align-items: center;
  background: white;
  border: 2px solid #F2F2F2;
  border-left: 1px none #F2F2F2;
  border-radius: 50px 50px;
  height: 49px;
}

.filter_icon{
	border: 1px solid #F2F2F2;
	border-radius: 50px 50px;
	background: #deebff;
	width: 49px;
	height: 49px;
}

.filter_item, .info{
	padding-left: 10px;
}

.filters_description{
	display: flex;
	align-items: center;
	margin-bottom: 1%;
	row-gap: 20px;
}
.description_icon{
	border: 2px solid #F2F2F2;
	border-radius: 20px 20px;
	width: 20px;
	height: 20px;
}
.icon{
	color: blue;
	position: relative;
	top: 15px;
	left: 15px;
}
#child{
	font-size: 125%;
	color: blue;
	position: relative;
	top: 15px;
	left: 15px;
}
.info_icon{
	color: blue;
	font-size: 75%;
	position: relative;
	bottom: 3px;
	left: 6px;
	font-weight: 700;
} /* end filters */

/* start Hébergement à Marseille */
.hébergements{
	display: flex;
	align-items: center;
	gap: 3%;
	margin: auto;
	width: 100%;

}
.card1 h2{
	padding-left: 4%;
	margin-top: 4%;
}
.more{
	padding-left: 4%;
	margin-top: 4.5%;
	margin-bottom: 4%;
}

.more a{
	text-decoration: none;
	color: black;
}
.card1{
	background: #F2F2F2;
	border-radius: 15px 15px;
	width: 65%;
	margin: auto;
}

.popular{
	background: #F2F2F2;
	border-radius: 15px 15px;
	width: 32%;
	height: 100%;
	margin: auto;
	padding-bottom: 2.7%;
}

.card{
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px 15px;
  width: 29%;
  height: 190px;
  padding-bottom: 0;
  margin: 0;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container {
	margin: auto;
	padding-left: 7%;
  width: 240px;
  height: 100px;
  
}
.card_container h4{
	margin-top: 2%;
	margin-bottom: 2%;
}
.card_container p{
	margin-top: 0;
	margin-bottom: 2%;
}
.card_container .fa-star{
	margin-bottom: 0;
}


.card_choice{
	display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: auto;
  width: auto;
  height: 100%;
}

.card img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  padding: 5px 5px 0px 5px;
  margin-bottom: 0;
  border-radius: 15px 15px 0px 0px;
}
.star1{
	color: blue;
}
.star2{
	color: #F2F2F2;
} /* end Hébergement à Marseille */

/* start Les plus populaires */
.popular_title{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	padding-top: 3.4%;

}


.card_popular{
	display: flex;
	align-items: center;
  margin: auto;
	background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px 15px;
  height: 140px;
  width: 85%;
}


.card_popular:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.popular_container{
	margin: auto;
	padding-top: 3%;
	width: 185px;
  height: 130px;
}



.popular_choice{
	display: flex;  
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  gap: 20px 20px;
  
}

.popular_image{
  width: 135px;
  height: 100%;
  object-fit: cover;
  padding: 5px 0px 5px 5px;
  margin-right: 3%;
  border-radius: 15px 0px 0px 15px;
}
.popular_container h4{
	margin-top: 0;
	margin-bottom: 2%;
}
.popular_container p{
	margin-top: 0;
} /* end Les plus populaires */

/*start activités à Marseille*/

.activity{
	width: 100%;
	margin: auto;
	padding-bottom: 5%;
}

.activity h2{
	margin: auto;
	padding-top: 5%;
	padding-bottom: 2%;
}
.activity_choice{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	gap: 30px;
		
}
.choice{
	width: 23%;
	height: 100%;
	margin: auto;
}
.choice_frioul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 23%;
	height: 100%;
	margin: auto;
	gap: 35px 35px;
	
}
.choice_longchamp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 23%;
	height: 100%;
	margin: auto;
	gap: 35px 35px;
	
}
.card_activity1{
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 456px;
  margin: auto;
   
}
.card_activity1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.activity_container1 {
 padding-left: 5%;
 margin: auto;
 
}
.activity_image1{
	border-radius: 15px 15px 0px 0px;
	width: 100%;
	height: 390px;
	object-fit: cover;
}

.card_activity2{
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin: auto;  
}
.card_activity2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.activity_container2 {
 padding-left: 5%;
 margin: auto;
 
}
.activity_image2{
	border-radius: 15px 15px 0px 0px;
	width: 100%;
	height: 190px;
	object-fit: cover;
}

.card_activity3{
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin: auto;
  
}
.card_activity3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.activity_container3 {
padding-left: 5%;
margin: auto;

}
.activity_image3{
	border-radius: 15px 15px 0px 0px;
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.card_activity4{
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin: auto;
  
}
.card_activity4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.activity_container4 {
 padding-left: 5%;
 margin: auto;
 
}
.activity_image4{
	border-radius: 15px 15px 0px 0px;
	width: 100%;
	height: 144px;
	object-fit: cover;
} /*end activités à Marseille*/

/*start footer*/
footer{
	position: absolute;
	left: 0;
	right: 0;
	background: #F2F2F2;
	margin: auto;
}
#footer_bloc{
	max-width: 1280px;
  margin: auto;
	display: flex;
	gap: 15%;
}
footer ul{
	list-style-type: none;
	padding-left: 0;
}
.down_page li{
	padding: 0;
}

.down_page li a{
	padding-left: 0;
	
}
.down_page h4{
	padding-bottom: 3%;
}
.third{
	padding-left: 4%;
} /*end footer*/


@media screen and (max-width: 992px){

	#bloc_page{
		width: auto;
	}

	.hébergements{
		flex-direction: column;
		width: auto;
	}

	.card1{
		width: 100%;
	}


	.popular{
		width: 100%;
	}

	.activity{
		width: auto;
		height: auto;
	}

	#footer_bloc{
		width: auto;
	}

}

